PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile={{ zabbix_agent_logfile }}
LogFileSize=2
DebugLevel=3
AllowKey=system.run[*]

ServerActive={{ zabbix_agent_server_active }}
Server={{ zabbix_agent_server }}
HostMetadata={{ zabbix_agent_metadata }}


UserParameter=smart.timeout[*],sudo smartctl -a /dev/$1 | awk '/Command_Timeout/ {print $NF}'
